.group_box_container {
    display: flex;
    gap: 48px;
}

.group_form_container {
    display: flex;
    flex: 1;
    align-items: flex-end;
    gap: 24px;
}

.group_page_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 24px;
    border: 1px solid grey;
}

.group_content_container {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.page_header {
    font-weight: bold;
}