.box_container {
    border: 2px solid grey;
    border-radius: 4px;
    width: 200px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

.box_value {
    font-weight: bold;
    font-size: 18px;
}